* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

p {
    font-size: 1rem;
    margin-bottom: 1em;
}

a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    margin-bottom: 1em;
    padding-left: 1.25em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 75px 0px;
    background-color: white;
    align-items: center;
}

.welcome,
.skills,
.about, .form {
    width: 100%;       
    padding: 0 200px;
}

nav {
    display: flex;
    gap: 16px;
    width: auto;
    align-items: center;
    padding: 5px 22px;
    color: #990ffa;
    border-bottom: 2px solid black;
}

nav .spacer {
    flex: 1 1 auto;
}

.logo {
    width: 100px;
}

.navimg {
    max-width: 40px;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

ul a {
    text-decoration: none;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.intro {
    flex: 1 1 0;
    min-width: 300px;
}

.introimg {
    flex: 0 0 auto;
    max-width: 250px;
    border-radius: 200px;
    border: solid 2px purple;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
    flex: 1;
    border: 2px solid #ead4ff;
    border-radius: 12px;
}

.feature img {
    max-width: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ead4ff;
}

.aboutblurb {
    padding: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.getintouch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

input, textarea {
    min-width: 400px;
    padding: 16px;
}

button {
    padding: 8px;
    background-color: #990ffa;
    color: white;
    border-style: none;
    border-radius: 5px;
}

button:hover {
    text-decoration: underline;
}

input[type=submit] {
    padding: 8px;
    background-color: #990ffa;
    color: white;
    border-style: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    nav, .welcome, .features {
        flex-direction: column;
    }

    .welcome,
    .skills,
    .about, .form {      
        padding: 0 50px;
    }

    .features {
        padding: 0 50px;
    }

    input, textarea {
        min-width: 250px;
    }
}