* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

p {
    font-size: 1rem;
    margin-bottom: 1em;
}

a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    margin-bottom: 1em;
    padding-left: 1.25em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 75px 0px;
    background-color: #f7edffff;
    align-items: center;
}

.welcome,
.features,
.about {
    width: 100%;       
    padding: 0 50px;
}

nav {
    display: flex;
    gap: 16px;
    width: auto;
    align-items: center;
    padding: 22px;
    color: #7248B9;
    border-bottom: 2px solid;
}

nav .spacer {
    flex: 1 1 auto;
}

img {
    height: 70px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

ul a {
    text-decoration: none;
}

.welcome {
    display: flex;
}

section .intro {
    flex: 2;
}

section .introimg {
    flex:0 1 250px;
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature1, .feature2, .feature3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    padding: 16px;
    gap: 16px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: grey;
}

