* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

p {
    font-size: 1rem;
    margin-bottom: 1em;
}

a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    margin-bottom: 1em;
    padding-left: 1.25em;
}

main {
    height: 100vh;
    padding: 75px 300px;
    background-color: #f7edffff;
}

nav {
    display: flex;
    gap: 16px;
    width: auto;
    align-items: center;
    padding: 22px;
    color: #7248B9;
    border-bottom: 2px solid;
}

nav .spacer {
    flex: 1 1 auto;
}

img {
    height: 70px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

ul a {
    text-decoration: none;
}

section {
    display: flex;
    width: auto;
    justify-content: space-around;
}

section .welcome {
    flex: 2;
}

section .welcomeimg {
    flex:0 1 250px;
}